.resizable-image-container {
    border: 1px solid #ccc;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.resizable-image-container.selected {
    outline: 2px dashed #007bff;
    outline-offset: 2px;
    z-index: 1;
}

.resizable-image-container:active {
    cursor: grabbing;
}

.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid black;
    z-index: 20;
}

.resize-handle.right {
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    cursor: ew-resize;
}

.resize-handle.bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: ns-resize;
}

.resize-handle.corner {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}