.login-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.login-popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-popup h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.login-popup p {
    margin-bottom: 20px;
    font-size: 16px;
}

.popup-buttons {
    display: flex;
    justify-content: space-around;
}

.popup-login-button, .popup-cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-login-button {
    background-color: #4caf50;
    color: white;
}

.popup-login-button:hover {
    background-color: #45a049;
}

.popup-cancel-button {
    background-color: #f44336;
    color: white;
}

.popup-cancel-button:hover {
    background-color: #d32f2f;
}