.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00183d;
}

.login-form {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.login-form .error {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #0056b3;
}

.create-account-link {
    text-align: center;
    margin-top: 10px;
}

.create-account-link a {
    color: #007bff; /* Blue color */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.create-account-link a:hover {
    color: #0056b3; /* Darker blue on hover */
    text-decoration: underline; /* Underline on hover */
}

.google-login-wrapper {
    width: 300px; /* Match form width */
    display: flex;
    justify-content: center;
    align-items: center;
}